<body>
<form method="post" action="/posts/<%= @post.id %>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <p>name: <%= @post.name %></p>
  <textarea name="name" id="name"></textarea>
  <br>
  <p>content: <%= @post.content %></p>
  <textarea name="content" id="content"></textarea>
  <br>
  <button type="submit" value="submit">submit</button>
</form>
</body>
